@import "tailwindcss";
/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* Google Font Link */
:root {
  --Primary-font-color: #1e1e1e;
  --primaryColor: #faca10;
  --secondaryColor: #f2f2f2;
  --tertiaryColor: #fbfbfb;
  --whiteColor: #ffffff;
  /* Font */
  --nunito: "Nunito", sans-serif;
  --lora: "Lora", serif;
}
@theme {
  --color-primaryFont: var(--Primary-font-color);
  --color-primary: var(--primaryColor);
  --color-secondary: var(--secondaryColor);
  --color-tertiary: var(--tertiaryColor);
  --color-white: var(--whiteColor);
  --font-nunito: var(--nunito);
  --font-lora: var(--lora);
}
@layer components {
  .container {
    @apply container mx-auto; /* Add your styles here */
  }
  .flexRowBetween {
    @apply flex flex-row items-center justify-between; /* Add your styles here */
  }
  .flexRow {
    @apply flex flex-row items-center; /* Add your styles here */
  }
  .flexCol {
    @apply flex flex-col justify-center; /* Add your styles here */
  }
  .hoverItem {
    position: relative;
  }
  .hoverItem::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background-color: var(--primaryColor);
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
  }
  .hoverItem:hover::before {
    width: 100%;
  }
  .description {
    @apply font-lora font-normal text-lg text-primaryFont tracking-[0.36px];
  }
  .solutionBg {
    background: url("./assets/solution.png") no-repeat;
    background-size: contain 100%;
    background-position: left;
  }
  .hoverBar {
    position: absolute;
    left: 0;
    bottom: -18px;
    transition: all 0.3s ease;
    background: transparent;

    @apply w-6 h-6 rounded-full -mr-7;
  }
  .hoverBar::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    right: -33px;
    top: 12px;
    background: var(--primaryColor);
    transition: all 0.3s ease;
  }
  .hover:hover .hoverBar {
    left: -55px;
    background-color: var(--primaryColor);
  }
  .hover:hover .hoverBar::before {
    width: 40px;
  }
  .btn {
    @apply px-5 py-2 bg-primary text-white rounded-md text-lg font-bold transition duration-200 text-center cursor-pointer; /* Add your styles here */
  }
  .btn:hover {
    @apply bg-primaryFont text-white /* Add your styles here */;
  }
  .bannerImg {
    background-color: rgba(245, 246, 246, 0.947);
    position: relative;
  }
  .bannerImg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./assets/bannerFull.png") no-repeat center center/cover;
    z-index: -1;
  }
  .cardTitle {
    @apply text-2xl font-bold text-primaryFont;
  }
  .card {
    width: calc(100% / 3 - 40px);
    @apply px-3 py-2 bg-white rounded-2xl gap-x-8 border border-[rgba(250,202,16,0.40)] transition-all duration-300;
  }
  .card:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
  }
  .title {
    @apply text-[44px] font-black text-primaryFont; /* Add your styles here */
  }
  .titleUnderline {
    @apply relative; /* Add your styles here */
  }
  .titleUnderline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--primaryColor);
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
  }
  .titleUnderline:hover::before {
    width: 0;
  }
  .heading2 {
    @apply text-3xl font-bold text-primaryFont; /* Add your styles here */
  }
  .imgGrayscale {
    filter: grayscale(100%);
    transition: all 0.3s;
  }
  .imgGrayscale:hover {
    filter: grayscale(0%);
    transform: translate(0, -10px);
    -webkit-transform: translate();
    -moz-transform: translate();
    -ms-transform: translate();
    -o-transform: translate();
  }
  .frustratedList {
    position: relative;
    padding-left: 30px;
  }
  .frustratedList::before {
    content: url("./assets/question.png");
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .brandLogo {
    position: relative;
  }
  .brandLogo::before {
    content: url(./assets/brandLogo.png);
    position: absolute;
    top: 5px;
    left: -80px;
  }
  .nextArrow {
    @apply w-6 h-6 bg-primary rounded-full flex items-center justify-center text-white text-lg font-bold absolute top-0; /* Add your styles here */
  }
  .prevArrow {
    @apply w-6 h-6 bg-primary rounded-full flex items-center justify-center text-white text-lg font-bold absolute  bottom-0 z-1; /* Add your styles here */
  }
}
@layer utilities {
  .text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
}
